# macOS
.DS_Store

# Swift Package Manager
.build/
.swiftpm/
Packages/

# Xcode build output
DerivedData/
build/

# Xcode user-specific files
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.moved-aside
*.xccheckout
*.xcscmblueprint
*.xcuserstate
xcuserdata/

# Common editor temp files
*.swp
*.swo
